@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
body * {
    font-family: "Dosis", sans-serif;
}

html { /**/
    scroll-behavior: smooth;
}

:root {
   --purple: #767598;
}

.navbar {
    background-color: var(--purple);
}


#inicio {
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: flex-end;
    background-image: url(../img/IMG_9254\ 2.jpg); /*agregar foto!!*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 90vh;
    width: 100%; 
      
}

#inicio h1 {
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#inicio h2 {
    font-weight: lighter;
    letter-spacing: 0.2rem;
}

#inicio hr {
    width: 20%;
    background-color: #ffffff; 
}

#Sobre-mi {
    letter-spacing: 0.2rem
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

span {
    font-size: 0,1em;
    color: grey;
}

.container-fluid {
    background-color: var(--purple);
    color: #ffffff;
}

#Experiencia hr {
    background-color: black;
}

#trabajos {
    background-color: var(--purple);
}
#trabajos hr {
    background-color: #ffffff;
}

#contacto {
    height: 50vh;
}

#contacto div {
    padding-top: 10vh;
}

footer {
    height: 10vh;
    width: 100%;
}
 footer .icons {
     font-size: 3rem;  
}

.icons a {
    text-decoration: none;
    color: #ffffff;
}
html { /**/
    scroll-behavior: smooth;
}

.background {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,112,153,1) 0%, rgba(71,72,88,1) 0%, rgba(147,123,181,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,112,153,1) 0%, rgba(71,72,88,1) 0%, rgba(147,123,181,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,112,153,1) 0%, rgba(71,72,88,1) 0%, rgba(147,123,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#937bb5",GradientType=1);
}