@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
body * {
    font-family: "Dosis", sans-serif;
}

.root {
   --purple: #660066;
}

.navbar {
    background-color: var(--purple);
}

#inicio {
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: flex-end;
    background-image: url(../img/IMG_9254\ 2.jpg); /*agregar foto!!*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 85vh;
    width: 100%;
    
}

#inicio h1 {
    font-weight: bold;
}

#inicio h2 {
    font-weight: lighter;
}

#inicio hr{
    height: 0.4rem;
    background-color: #ffffff;    
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

span {
    font-size: 0,1em;
    color: grey;
}

.container-fluid {
    background-color: var(--purple);
    color: #ffffff;
}

#trabajos {
    background-color: var(--purple);
}
#trabajos hr {
    background-color: #ffffff;
}

footer {
    background-color: var(--purple);
    color: #ffffff;
}